In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [10]:
df = pd.read_csv('..\\data\\processed\\lol_clean_data2.csv')
df.describe()

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueTowersDestroyed,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,redWardsPlaced,redWardsDestroyed,redAssists,redDragons,redHeralds,redTowersDestroyed,redTotalMinionsKilled,redTotalJungleMinionsKilled
count,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000
mean,0.499038,22.288288,2.824881,0.504808,6.183925,6.137666,6.645106,0.361980,0.187974,0.051422,216.699565,50.509667,22.367952,2.723150,6.662112,0.413098,0.160036,0.043021,217.349226,51.313088
std,0.500024,18.019177,2.174998,0.500002,3.011028,2.933818,4.064520,0.480597,0.390712,0.244369,21.858437,9.898282,18.457427,2.138356,4.060612,0.492415,0.366658,0.216900,21.911668,10.027885
min,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,90.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,4.000000
25%,0.000000,14.000000,1.000000,0.000000,4.000000,4.000000,4.000000,0.000000,0.000000,0.000000,202.000000,44.000000,14.000000,1.000000,4.000000,0.000000,0.000000,0.000000,203.000000,44.000000
50%,0.000000,16.000000,3.000000,1.000000,6.000000,6.000000,6.000000,0.000000,0.000000,0.000000,218.000000,50.000000,16.000000,2.000000,6.000000,0.000000,0.000000,0.000000,218.000000,51.000000
75%,1.000000,20.000000,4.000000,1.000000,8.000000,8.000000,9.000000,1.000000,0.000000,0.000000,232.000000,56.000000,20.000000,4.000000,9.000000,1.000000,0.000000,0.000000,233.000000,57.000000
max,1.000000,250.000000,27.000000,1.000000,22.000000,22.000000,29.000000,1.000000,1.000000,4.000000,283.000000,92.000000,276.000000,24.000000,28.000000,1.000000,1.000000,2.000000,289.000000,92.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9879 entries, 0 to 9878
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   blueWins                      9879 non-null   int64
 1   blueWardsPlaced               9879 non-null   int64
 2   blueWardsDestroyed            9879 non-null   int64
 3   blueFirstBlood                9879 non-null   int64
 4   blueKills                     9879 non-null   int64
 5   blueDeaths                    9879 non-null   int64
 6   blueAssists                   9879 non-null   int64
 7   blueDragons                   9879 non-null   int64
 8   blueHeralds                   9879 non-null   int64
 9   blueTowersDestroyed           9879 non-null   int64
 10  blueTotalMinionsKilled        9879 non-null   int64
 11  blueTotalJungleMinionsKilled  9879 non-null   int64
 12  redWardsPlaced                9879 non-null   int64
 13  redWardsDestroyed             9879 non-null   int64
 14  redAssists                    9879 non-null   int64
 15  redDragons                    9879 non-null   int64
 16  redHeralds                    9879 non-null   int64
 17  redTowersDestroyed            9879 non-null   int64
 18  redTotalMinionsKilled         9879 non-null   int64
 19  redTotalJungleMinionsKilled   9879 non-null   int64
dtypes: int64(20)
memory usage: 1.5 MB

Standardizing the magniture of numberic features using a scaler

In [12]:
# Making a Scaler obj
sc = preprocessing.StandardScaler()
scaled_df = sc.fit_transform(df)
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)
scaled_df.head()

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueTowersDestroyed,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,redWardsPlaced,redWardsDestroyed,redAssists,redDragons,redHeralds,redTowersDestroyed,redTotalMinionsKilled,redTotalJungleMinionsKilled
0,-0.998079,0.316996,-0.379275,0.990429,0.935301,-0.046926,1.071495,-0.753226,-0.481132,-0.210439,-0.992782,-1.465951,-0.399207,1.532493,0.329496,-0.838966,-0.436495,-0.198353,-0.928741,0.367685
1,-0.998079,-0.570992,-0.839069,-1.009663,-0.393216,-0.387796,-0.404768,-0.753226,-0.481132,-0.210439,-1.953558,-0.758722,-0.561751,-0.805870,-1.148188,1.191944,2.290977,4.412301,1.033784,0.068504
2,-0.998079,-0.404494,-1.298863,-1.009663,0.271042,1.657424,-0.650812,1.327623,-0.481132,-0.210439,-1.404543,-0.455624,-0.399207,0.129475,1.807181,-0.838966,-0.436495,-0.198353,-0.654900,-2.324944
3,-0.998079,1.149484,-0.839069,-1.009663,-0.725346,-0.387796,-0.404768,-0.753226,2.078430,-0.210439,-0.718275,0.453671,-0.399207,-0.338198,0.822058,-0.838966,-0.436495,-0.198353,0.805583,-0.430131
4,-0.998079,2.925460,0.540312,-1.009663,-0.061087,-0.046926,-0.158724,-0.753226,-0.481132,-0.210439,-0.306513,0.655736,-0.290844,-0.338198,0.083215,1.191944,-0.436495,-0.198353,0.349182,1.564408

In [13]:
X = scaled_df.loc[:, scaled_df.columns != 'blueWins']
y = scaled_df[['blueWins']]

In [14]:
# Train Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.25, random_state=123)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(7409, 19) (2470, 19) (7409, 1) (2470, 1)

In [15]:
X_train.mean()

blueWardsPlaced                 0.001416
blueWardsDestroyed             -0.012570
blueFirstBlood                 -0.003273
blueKills                       0.004855
blueDeaths                     -0.010580
blueAssists                     0.008449
blueDragons                    -0.000255
blueHeralds                     0.004939
blueTowersDestroyed             0.004978
blueTotalMinionsKilled          0.017969
blueTotalJungleMinionsKilled   -0.007120
redWardsPlaced                  0.011575
redWardsDestroyed              -0.002766
redAssists                     -0.006834
redDragons                     -0.005385
redHeralds                     -0.005415
redTowersDestroyed              0.002651
redTotalMinionsKilled          -0.012803
redTotalJungleMinionsKilled    -0.005407
dtype: float64

In [16]:
X_test.mean()

blueWardsPlaced                -0.004248
blueWardsDestroyed              0.037704
blueFirstBlood                  0.009817
blueKills                      -0.014562
blueDeaths                      0.031736
blueAssists                    -0.025343
blueDragons                     0.000766
blueHeralds                    -0.014815
blueTowersDestroyed            -0.014933
blueTotalMinionsKilled         -0.053900
blueTotalJungleMinionsKilled    0.021357
redWardsPlaced                 -0.034721
redWardsDestroyed               0.008297
redAssists                      0.020499
redDragons                      0.016154
redHeralds                      0.016243
redTowersDestroyed             -0.007953
redTotalMinionsKilled           0.038404
redTotalJungleMinionsKilled     0.016218
dtype: float64